:root {
    --font-family-primary: 'Articulat CF', sans-serif;
    /* font size */
    --fs-extra-small: 14px;
    --fs-sm: 36px;
    --fs-md: 54px;
    /* color */
    --bg-dark-blue: #0F222D;
    --bg-light-blue: #11222C;
    --bg-red: #9A0000;
    --color-white: #FFFFFF;
    --color-light: #FFFFFF3D;
    --color-white-light: #FFFFFF29;
}

.font-family-primary{
    font-family: var(--font-family-primary);
}

/* font size  */
.fs-extra-small {
    font-size: var(--fs-extra-small);
}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-md {
    font-size: var(--fs-md);
}

/* color */
.bg-dark-blue {
    background-color: var(--bg-dark-blue);
}

.bg-light-blue {
    background-color: var(--bg-light-blue);
}

.bg-red {
    background-color: var(--bg-red);
}

@media (max-width:767.98px) {
    :root {
        --fs-md: 48px
    }
}

@media (max-width:575.98px) {
    :root {
        --fs-sm: 28px;
        --fs-md: 32px
    }
}