@import url(./root.css);

.max-w-1058 {
    max-width: 1058px !important;
}

.lh-100 {
    line-height: 100%;
}

.lh-160 {
    line-height: 160%;
}

.opacity-70 {
    opacity: 70%;
}

/* about us */
.mb-32 {
    margin-bottom: 32px;
}

.max-w-477 {
    max-width: 477px;
}

.pb-156 {
    padding-bottom: 156px;
}

.pt-193 {
    padding-top: 193px;
}

.max-w-461 {
    max-width: 461px;
}

/* Brand story */
.bg-img-3 {
    background-image: url(../images/png/brand-story-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.max-w-632 {
    max-width: 670px !important;
}

.py-251 {
    padding-top: 251px;
    padding-bottom: 251px;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

/* Application & Benefits */
.max-w-876 {
    max-width: 876px;
}

.bg-img-4 {
    background-image: url(../images/png/benefits-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mb-60 {
    margin-bottom: 60px;
}

.max-w-398 {
    max-width: 398px;
}

.mb-12 {
    margin-bottom: 12px;
}

.py-137 {
    padding-top: 137px;
    padding-bottom: 137px;
}

/* thumb-print */
.max-w-1225 {
    max-width: 1225px !important;
}

.pt-78 {
    padding-top: 78px;
}

.max-w-781 {
    max-width: 781px;
}

.right-12 {
    right: 12px;
}

.left-12 {
    left: 12px;
}

.max-w-422 {
    max-width: 422px;
}

@media (min-width:992px) {
    .gap-80 {
        gap: 80px;
    }
}

@media (max-width: 991.98px) {
    .pb-156 {
        padding-bottom: 120px;
    }

    .pt-193 {
        padding-top: 120px;
    }

    .py-251 {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .py-137 {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

@media (max-width: 767.98px) {
    .pb-156 {
        padding-bottom: 80px;
    }

    .pt-193 {
        padding-top: 80px;
    }

    .py-251 {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .py-137 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media (max-width: 575.98px) {
    .pb-156 {
        padding-bottom: 40px;
    }

    .pt-193 {
        padding-top: 40px;
    }

    .py-251 {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .py-137 {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .pt-78 {
        padding-top: 40px;
    }
}