@import url(./root.css);

.max-w-1058 {
    max-width: 1058px !important;
}

.lh-100 {
    line-height: 100%;
}

.lh-160 {
    line-height: 160%;
}

.opacity-60 {
    opacity: 60%;
}

.opacity-70 {
    opacity: 70%;
}

/* header */
.max-w-1140 {
    max-width: 1140px !important;
}

.pt-100 {
    padding-top: 100px;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    z-index: 10;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    background-color: #fff;
}

.rotate40 {
    transform: rotate(42deg);
}

.rotate-45 {
    transform: rotate(-43deg);
}

.z-5 {
    z-index: 5;
}

.pt-42 {
    padding-top: 42px !important;
}

.max-w-100 {
    max-width: 100px;
}

.h-810 {
    height: 800px;
}

.nav-tags {
    transform: rotate(-90deg);
    white-space: nowrap;
}

.gap-32 {
    gap: 103px;
}

.lh-160 {
    line-height: 160%;
}

.lh-100 {
    line-height: 100%;
}

.nav-tags-box {
    max-height: 593px;
    height: 100%;
    overflow: auto;
    margin-top: 22px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.img-box {
    background-image: url(../images/png/Hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 1140px;
    min-height: 650px;
    height: 100%;
    padding: 30px;
    border-radius: 24px;
    width: 100%;
    border: 1px solid var(--color-white-light);
}

.max-w-849 {
    max-width: 849px;
}

.nav-links {
    transition: all 200ms linear;
}

.nav-links:hover {
    opacity: 100% !important;
    text-decoration: underline !important;
}

.right-nav-icon {
    padding: 9px;
    border: 1px solid #FFFFFF3D;
    backdrop-filter: blur(10px);
    border-radius: 100%;
    background-color: #202225;
    transition: all 200ms linear;
}

.right-nav-icon:hover {
    background-color: white;
}

.right-nav-icon:hover path {
    fill: black;
}

/* about us */
.mb-32 {
    margin-bottom: 32px;
}

.pb-156 {
    padding-bottom: 156px;
}

.pt-193 {
    padding-top: 193px;
}

.max-w-461 {
    max-width: 461px;
}

/* Brand story */
.bg-img-3 {
    background-image: url(../images/png/brand-story-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.max-w-632 {
    max-width: 670px !important;
}

.py-251 {
    padding-top: 251px;
    padding-bottom: 251px;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

/* Application & Benefits */
.max-w-876 {
    max-width: 876px;
}

.bg-img-4 {
    background-image: url(../images/png/benefits-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mb-60 {
    margin-bottom: 60px;
}

.max-w-398 {
    max-width: 398px;
}

.mb-12 {
    margin-bottom: 12px;
}

.py-137 {
    padding-top: 137px;
    padding-bottom: 137px;
}

/* thumb-print */
.max-w-1225 {
    max-width: 1225px !important;
}

.pt-78 {
    padding-top: 78px;
}

.max-w-781 {
    max-width: 781px;
}

.right-12 {
    right: 12px;
}

.left-12 {
    left: 12px;
}

.max-w-422 {
    max-width: 422px;
}

/* footer */
.pt-72 {
    padding-top: 72px;
}

.mb-12 {
    margin-bottom: 12px;
}

.gap-12 {
    gap: 12px;
}

.mb-28 {
    margin-bottom: 28px;
}

.max-width {
    max-width: max-content;
}

.footer-btn {
    border-radius: 34px;
    padding: 11px 32px;
    background-color: var(--bg-red);
    border: none;
    transition: all 200ms linear;
}

.footer-btn:hover {
    color: var(--bg-red) !important;
    background: var(--color-white) !important;
}

.px-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.pb-40 {
    padding-bottom: 40px;
}

.py-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.line {
    border: 1px solid var(--color-light);
}

.max-w-1114 {
    max-width: 1114px !important;
}

.footer-links {
    transition: all 200ms linear;
}

.footer-links:hover {
    opacity: 100%;
    text-decoration: underline !important;
}

.pt-33 {
    padding-top: 33px;
}

@media (min-width:992px) {
    .gap-80 {
        gap: 80px;
    }

    .max-w-365 {
        max-width: 365px;
    }

    .max-w-477 {
        max-width: 477px;
    }
}

@media (min-width:1200px) {
    .img-box {
        width: 93%;
    }
}

@media (min-width:1325px) {
    .img-box {
        width: 100%;
    }
}

@media (max-width:1199.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        background: black !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 3;
        align-items: center;
    }

    .show-navbar {
        right: 0 !important;
    }

    .nav-tags {
        transform: rotate(0);
        white-space: nowrap;
    }

    .gap-32 {
        gap: 32px;
    }
}

@media (max-width: 991.98px) {
    .pb-156 {
        padding-bottom: 120px;
    }

    .pt-193 {
        padding-top: 120px;
    }

    .py-251 {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .py-137 {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .img-box {
        min-height: 350px;
    }
}

@media (max-width: 767.98px) {
    .pb-156 {
        padding-bottom: 80px;
    }

    .pt-193 {
        padding-top: 80px;
    }

    .py-251 {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .py-137 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media (max-width: 575.98px) {
    .pb-156 {
        padding-bottom: 40px;
    }

    .pt-193 {
        padding-top: 40px;
    }

    .py-251 {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .py-137 {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .pt-78 {
        padding-top: 40px;
    }

    .pt-72 {
        padding-top: 40px;
    }

    .pb-60 {
        padding-bottom: 40px;
    }

    .img-box {
        min-height: 250px;
    }
}